body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Graduate', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./components/Images/koran.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: center; */
  color: white;
}

h1 {
  font-size: 60px;
  margin: 40px 0 0 0;
}

a {
  font-size: 40px;
  text-decoration: none;
  color: white;
}

button {
  font-family: 'Graduate', cursive;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold
}

textarea {
  font-family: 'Graduate', cursive;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  height: 25px
}

label {
  font-family: 'Graduate', cursive;
  font-size: 20px;
  font-weight: bold
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toplink {
  display: inline-block;
  margin: 0px 10px;
  text-decoration: none;
}
